.profile_pic{
    justify-content: center;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #006bc2;
}
.about_me{
    border-bottom: solid brown;
}

.about_me h2{
    font-size: xx-large;
}

.about_me p{
    font-size: large;
}
.profile_pic img{
    width: 100%;
    height: auto;
    display: block;
}
h1{
    font-family: Times New Roman, Times, serif;
    text-align: center;
    border-bottom: solid brown;
}
/*#FE7458;*/
body{
    background-color:#afb4f1;
}

.education{
    border-bottom: solid brown;
}
a{
    color: black;
}
